<%- include('../partials/header') %>

    <main class="main" id="main">
        <div class="container">
            <h1>...</h1>
        </div>
    </main>




    <%- include('../partials/footer') %>